<!Doctype html>
<html xmlns:ng="http://angularjs.org" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teste Angular</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
        <!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!--script src="/js/app.js"></script-->
    </head>
    <body ng-controller="StoreController as store" ng-app="appLista">

        <center><div class="card" ng-repeat="product in store.products" style="width:50%;">
            <h3 class="card-header">{{product.name}}</h3>
            <div class="card-block" >
              <p class="card-text">R{{product.price|currency}}</p>
              <a href="#" class="btn btn-primary" style="float:right;">Detalhes ▼</a>
            </div></center>
        </div>

    </body>
    <script>
        (function() {
            var app = angular.module('appLista', []);
            
            var gems = [{name:'Azurite', price: 110.50},
                        {name:'Bloodstone', price: 22.90},
                        {name:'Zircon', price: 1100}];

            app.controller('StoreController', function() {
                this.products = gems;
            });
            
        })();   
    </script>
</html>
