<!Doctype html>
<html xmlns:ng="http://angularjs.org" >
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Teste Angular</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <!--script src="/js/app.js"></script-->
        <style>
            th{
                text-align: center;
            }
        </style>
    </head>
    <body class="container" ng-controller="StoreController as store" ng-app="appLista">
        <center><h2 style="font:normal 40pt Arial;color:#EBE6E6;text-shadow:#3B2DD4 2px 2px;">WIN coworking</h2></center>
        <br>
        <center><div ng-repeat="user in store.users" style="width:50%;">
            <div class="card">
                <h3 class="card-header">{{user.nome}}</h3>
                <div class="card-block" >
                    <p class="card-text" style="text-align:left;margin-left:5px;float:left;">Data Nascimento: {{user.dtaNascimento | date: 'dd/MM/yyyy'}}</p>
                    <p class="card-text">Empresa: {{user.empresa}}</p>
                    <p class="card-text" style="margin-left:5px;float:left;">Email: {{user.email}}</p>
                    <p class="card-text">Biometria: <span class="badge {{store.span(user.cadastrado)}}">{{store.spanTexto(user.cadastrado)}}</span></p>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-bottom: 8px;" data-toggle="collapse" data-target="#{{user.id}}">Serviços</button>
                    <div id="{{user.id}}" class="collapse">
                        <table class="table" style="text-align:center;">
                                <thead>
                                    <tr class="thead-inverse">
                                        <th>Data</th>
                                        <th>Serviço</th>
                                        <th>Valor</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="servico in user.servicos">
                                        <td>{{servico.data | date:'dd/MM/yyyy'}}</td>
                                        <td>{{servico.servico}}</td>
                                        <td>R{{servico.preco | currency}}</td>
                                    </tr>      
                                </tbody>
                        </table>                             
                    </div>
                </div>
            </div><br>
        </div></center>

    </body>
    <script>
        (function() {
            var app = angular.module('appLista', []);

            var usersWin = [{
                id: 1,
                nome: "Antonio Miranda",
                dtaNascimento: "1990-05-14",
                empresa: "Ubots",
                email: "antonio@ubots.com.br",
                cadastrado: false,
                servicos: [{
                    data: "2017-09-26",
                    servico: "Lavanderia",
                    preco: 62.70
                },{
                    data: "2017-09-28",
                    servico: "Higienização",
                    preco: 120.38 
                }]
            },{
                id: 2,
                nome: "Johnny Deep",
                dtaNascimento: "1963-06-09",
                empresa : "Wanner",
                email: "Johnny@wannerbros.com",
                cadastrado: true,
                servicos:[{
                    data: "2017-06-22",
                    servico: "Estacionamento",
                    preco: 250
                },{
                    data:"2017-08-15",
                    servico: "Almoço",
                    preco: 547,
                }]
            }];

            app.controller('StoreController', function() {
                this.users = usersWin;

                this.span = function(cadastrado){
                    return cadastrado ? "badge-success" : "badge-danger";
                };

                this.spanTexto = function(cadastrado){
                    return cadastrado ? "Cadastrado" : "Não Cadastrado";
                };
            });

            app.controller('ServiceController',function(){
                this.servico = {}; 
                this.addServico = function(user){
                    this.user.servicos.push(this.servico);
                    this.servico = {}; //ng-options="stars for stars in [5,4,3,2,1]"
                };
            });
            
        })();   
    </script>
</html>
